
h1 {
  font-size: 30px;
}


body {
  display: flex;
  /*align-items:center;*/
  justify-content: center;


}
.main {
display: flex;
  /*align-items:center;*/
   position: absolute;
  top: 10em;
  border:50px red;
width:50%;
  height:10%;
background:red;


}
/*.left {
  width:50%;
  height:100%;
  border:purple;
}
.right {
  width:50%;
  height:100%;

  border:red;
}

*/
img {
  border-radius:20%;
  width:900px;
  height:620px;

}

